@font-face {
    font-family: Metropolis;
    font-weight: 800;
    src: url("../fonts/Metropolis-Black.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: bold;
    src: url("../fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: 200;
    src: url("../fonts/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: 300;
    src: url("../fonts/Metropolis-Light.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: 400;
    src: url("../fonts/Metropolis-Medium.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: normal;
    src: url("../fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: Metropolis;
    font-weight: 100;
    src: url("../fonts/Metropolis-Thin.otf") format("opentype");
}
#cover-loader {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255, 0.8);
    z-index: 499999999999999999;
    display:none;
}

#cover-loader img {
    width: 70px;
    height: 70px;
    margin: 20% auto;
}
#top-loading {
    top: 0;
    left: 0;
    right: 0;
    height:3px;
    width:100%;
    display: none;
    position:fixed;
    z-index:5000;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.45);}
#top-loading:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 3px;
    animation: loadingbar 1.5s linear infinite;
    background-color:#2727F5;
}
@keyframes loadingbar {
    from {left: -200px; width: 30%;}50% {width: 30%;}70% {width: 70%;}80% { left: 50%;}95% {left: 120%;}to {left: 100%;}
}
@media(max-width:700px) {
    #cover-loader img {
        width: 80px;
        height: 80px;
        margin: 30% auto;
    }
}

.form-floating .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    transition: border-bottom-width,border-bottom-color .3s;
}
.form-floating .form-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    transition: border-bottom-width,border-bottom-color .3s;
}
.form-floating .form-control:focus, .form-floating .form-select:focus {
    border-width: 3px;
    border-color: #3E99F8;
}
.modern-table {
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    border:none;
    border-right: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


.modern-table  tr {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: .35em;
}
.modern-table  tbody tr:last-child {
    border: none;
}
.modern-table  th,
.modern-table  td {
    padding: .625em;
}

.modern-table thead tr {
    border-top: none;
}
.modern-table  th {
    font-size: .85em;
    padding: 15px 10px;

    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .modern-table table {
        border: 0;
    }
    .modern-table  thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .modern-table  tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .modern-table  td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .modern-table  td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .modern-table  td:last-child {
        border-bottom: 0;
    }
}

body {
    font-family: Metropolis, sans-serif;
    padding: 0;
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 13px;
}
.btn {
    font-size: 13px;
    text-transform: uppercase;
}
.btn-primary {
    background: #416CF5;
}
.btn-primary:hover {
    background: #416CF5;
}
#admin-container {
    width: 100%;
}
#admin-container .left-pane {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background: #0A2558;
}
#admin-container .left-pane .logo {
    display: block;
    margin:  auto;
    text-align: center;
    padding: 20px 0;
}
#admin-container .left-pane .logo img {

}
#admin-container .left-pane .user-menu {
    margin: 10px 0;
    height: calc(100vh - 120px);
}
#admin-container .left-pane .user-menu h4 {
    color: #40557F;
    text-transform: uppercase;
    font-size: 13px;
    margin: 15px 20px;
}
#admin-container .left-pane .user-menu  ul {
    display: block;
    overflow: auto;
    overflow-x: hidden;
}
#admin-container .left-pane .user-menu ul li {
    position: relative;
}
#admin-container .left-pane .user-menu ul li a {
    display: block;
    padding: 5px 20px;
    padding-bottom: 7px;
    font-size:13px;
    font-weight: 400;
    color:#7688AA;
}
#admin-container .left-pane .user-menu ul li > i {
    position: absolute;
    right: 20px;
    top: 7px;
    color:#40557F;
    font-size: 20px;
}
#admin-container .left-pane .user-menu ul li.active, #admin-container .left-pane .user-menu ul li:hover{
    background: #0B2E6D;
}
#admin-container .left-pane .user-menu ul li.active > a, #admin-container .left-pane .user-menu ul li:hover > a {
    color: #fff;
}
#admin-container .left-pane .user-menu ul li a i {
    font-size: 20px;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 15px;
    color: #547398;
}
#admin-container .left-pane .user-menu ul li.has-sub-menus .minus {
    display: none;
}
#admin-container .left-pane .user-menu ul li.opened .plus {
    display: none;
}
#admin-container .left-pane .user-menu ul li.opened .minus {
    display: block;
}
#admin-container .left-pane .user-menu ul li.opened{
    background: none !important;
}
#admin-container .left-pane .user-menu ul li.has-sub-menus ul {
    display: none;
}
#admin-container .left-pane .user-menu ul li.opened ul {
    display: block;
}
#admin-container .left-pane .user-menu ul li.has-sub-menus ul li {
    padding: 4px 20px;
    padding-left: 35px;
}
#admin-container .left-pane .support-btn {
    position: absolute;
    bottom:40px;
    right:-20px;

}
#admin-container .left-pane .support-btn > a {
    width: 60px;
    height: 60px;
    border-radius:100px;
    color: #fff;
    padding: 10px 0;
    display: block;
    text-align:center;
    font-size: 30px;
}
#admin-container .right-pane {
    position: relative;
    padding: 0px 0;
    padding-left: 300px;
}
#admin-container .right-pane .main-header{
    background: #EFF1F2;
    width: 100%;
    height: 50px;
}
#admin-container .right-pane .main-header .search {
    position: relative;
    border: solid 1px lightgray;
    width: 30%;
    border-radius: 10px;
    height: 35px;
    background: #fff;
    margin-left: 60px;
    top: 7px;
}
#admin-container .right-pane .main-header .search input {
    border: none;
    background: none;
    width: 100%;
    padding: 5px 10px;
    outline: none !important;
    font-size: 15px;
    color:grey;
    padding-right: 50px;
}
#admin-container .right-pane .main-header .search i {
    position: absolute;
    right: 10px;
    top: 5px;
}
#admin-container .right-pane .main-header .search select {
    border: none;
    background: #EFF1F2;
    position: absolute;
    padding: 5px 10px;
    border-radius: 15px;
    right: 30px;
    top: 3px;
}
#admin-container .right-pane .main-header ul {
    position: absolute;
    right: 20px;
    top: 0;
}
#admin-container .right-pane .main-header ul li {
    float: left;
    padding: 9px ;
}
#admin-container .right-pane .main-header ul li.user-menu > a {
    color: #000;
}
#admin-container .right-pane .main-header ul li.user-menu > a img{
    width: 30px;
    margin-right: 15px;
    height: 30px;
    border-radius: 100px;
}
#admin-container .right-pane .menu-toggle {
    position: absolute;
    top: 7px;
    color:#000;
    font-size: 25px;
    left: 320px;
}

#admin-container .right-pane .main-content {
    height: calc(100vh - 50px);
    overflow: auto;
    padding: 20px;
    overflow-x: hidden;
}
#admin-container .right-pane .header {
    position: relative;
}
.modal-backdrop {
    background: rgba(255,255,255,0.7);
    opacity: 1;
}
.modal-backdrop.show {
    opacity: 1;
}
.offcanvas-lg {
    width: 500px;
}
.user-avatar-round-sm {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

#statistics {
    margin-top: 30px;
}
#statistics .each {
    position: relative;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    transition: background-color .3s;
}

#statistics .each .float-start i {
    width: 50px;
    height: 50px;
    background: #EAF2FF;
    text-align: center;
    color: #3B84FE;
    font-size: 28px;
    border-radius:100px;
    display:block;
    padding: 5px 0;
    position: relative;
    margin: 5px 0;
}
#statistics .each .float-end i {
    font-size: 20px;
    position: relative;
    top: 14px;
    color: lightgray;
}
#statistics .each h5 {
    font-size: 15px;
    color: grey;
    font-weight: lighter;
    margin: 10px 0 ;
}
#statistics .each h2 {
    color: #000;
    font-weight: 600;
}
#statistics .each .foot {
    border-top: solid 1px lightgrey;
    padding: 10px 0;
    font-size: 15px;
    color: grey;
}
#statistics .each .foot span {
    color: #000;
}
.stat-color-pink .float-start  i{
    color: #FF5722 !important;
    background: #FFF8F5 !important;
}
.stat-color-pinklight .float-start i{
    background: #FFF8F0  !important;
    color: #FF9800 !important;
}
.stat-color-green .float-start  i{
    background: #F0FDFF  !important;
    color: #00BCD4 !important;
}

.admin-chart-container {
    border: solid 1px lightgrey;
    padding: 20px;
    margin: 20px 0;
}

.nav-line {
    border-bottom: solid 1px #E4E4E4;
}
.nav-line  a {
    color: #606060;
    font-size: 13px;
    text-transform: uppercase;
}
.nav-line  a.active {
    border-bottom: solid 1px #4870ED;
    color: #4870ED;
    font-weight: bold;
}
.form-control,.form-select {

    outline: none !important;
}
.form-control:focus,.form-control:active ,.form-select:focus,.form-select:active{
    outline: none;
    box-shadow: none;
}
.textarea-height-100 {
    height: 100px !important;
}
.min-textarea-height {
    min-height: 250px !important;
}
.box {
    background: #fff;
    border-radius: 5px;
    padding:30px 20px;
}
.box-table {
    padding:0;
}
.box small {
    color: grey;
}
.box h5 {
    font-weight: bold;
}
.width-100 {
    width: 100px;
}
.width-200 {
    width: 200px;
}
.width-50 {
    width: 50px;
}

.width-30 {
    width: 30px;
}

.table-custom thead{
    border:solid 1px #F2F2F2;

}
.table-striped>tbody>tr:nth-of-type(odd) {
    background: rgb(253,253,253);
    --bs-table-accent-bg:rgb(251,251,251);
}
.table-custom thead th {
    border:none;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.table-custom tbody tr {
    padding-top: 30px;
}
.table-custom tbody tr:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.table-custom tbody tr td{
    border: none;
}

@media(max-width: 1000px) {
    #admin-container .left-pane {
       z-index: 99999;
        display: none;
    }
    #admin-container .right-pane {
        padding-left: 20px;
    }
    #admin-container .right-pane .menu-toggle {
        left: 20px;
        z-index: 999;
    }
}
